
.Pannel{
    display: block;
    background-color: lightslategrey;
    margin: auto;
    margin-top: 6%;
    padding: 1%;
    width: 500px;
    height: 600px;
    border-radius: 10%;
}

.Cate-Title{
    display: contents;
    background-color: inherit;
    margin: auto;
    width: fit-content;
}

.Selection{
    display: block;
    margin: auto;
    margin-top: 2.5%;
    width: fit-content;
}


.Selection-Inner{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: fit-content;
}

.Selection-Submit{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.Selection-Submit:hover{
    display: flex;
}

.Cate-Button{
    background-color: azure;
    color: indigo;
    margin: 1px;
    width: 100px;
}
.Cate-Button:hover{
    background-color: initial;
    color: azure;
}

.Cate-Button-Submit{
    margin: 0.5%;
    height: 30px;
    width: 100px;
}
.Cate-Button-Submi:hover{
    display: block;
}
.Cate-Button-Submit{
    display: block;
}
#Question-Div{
    display: block;
    margin: auto;
    margin-top: 6%;
}
.Cate-Question{
    display: flex;
    width: 300px;
    flex-basis: content;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgb(60, 48, 63);
    color: azure;
}


/*ANIMATIONS*/

@keyframes border-change{
    0%{
        border-radius: initial;
    }
    25%{
        border-radius: 20%;
    }
    50%{
        opacity: 10%;
    }
    75%{
        border-radius: 20%;
    }
    100%{
        border-radius: initial;
    }
}


