body{
    background-color: rgb(136, 125, 177);
    /*animation: background-change 10s infinite;*/
    
}
#root{
    background-color: rgb(136, 125, 177);
}
a{
    display: contents;
    color: black;
}
a:hover{
    color: white;
}
div{
    display: block;    
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
 
}

span{
    display: block;
}

p{
    color: black;
}

h1{
    text-transform: capitalize;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font:bold;

}

h2{
    text-transform: capitalize;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

h3{
    font-feature-settings: "aalt";
    margin: auto;
    width: fit-content;
    height: fit-content;
}
h4{
    margin: auto;
    margin-bottom: -1%;
    width: fit-content;
    height: fit-content;

}

input{
    border-radius: 5px;
    background-color: rgb(238, 219, 246);
    color: rgb(7, 57, 57);
}

table{
    background-color: lightslategrey;
}
.table-bordered{
    border-radius: 20px;
}

.ReadingHistory-Div-Master{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2.5%;
    width: 94%;
    height: 94%;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: lightslategrey;
    border-radius: 20px;
}
#Reading-Table{
    display: block;
    margin: auto;
    margin-top: 2.5%;
    height: fit-content;
    border-radius: 10px;

}

.Background{
    display: block;
}
.Button{
    background-color: azure;
    color: indigo;
}
.Button:hover{
    background-color: indigo;
    color: azure;

    animation: pluse-slow 4s;
}


/*ANIMATIONS*/

@keyframes pulse-slow{
    0%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1.1);

    }
}


@keyframes color-change{
    0%{
        background-color: initial;
    }
    25%{
        background-color: mediumslateblue;
    }
    50%{
        background-color: indigo;
    }
    75%{
        background-color: mediumpurple;
    }
    100%{
        background-color: initial;

    }
}


@keyframes background-change{
    0%{
        opacity: initial;
        background-image: url("https://i.pinimg.com/originals/29/57/d9/2957d99bf220c6a37bac7702959736cc.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 50%;
    }
    50%{
       opacity: initial;
       background-image: url("https://i.pinimg.com/originals/29/57/d9/2957d99bf220c6a37bac7702959736cc.gif");
       background-repeat: no-repeat;
       background-size: cover;
    }
    75%{
        opacity: 50%;
    }
    100%{
        opacity: initial;

    }
}
