.backVid {
    width:100%;
    height:100%;
    background-size: cover;
   
}

.Log {
    position: absolute;
    width: 100%;
    height: 300%;
    top:0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:blueviolet;
    font-weight:bold;
    font-size:larger
}

button {
color:blueviolet;
font-weight: bold;
font-size: x-larger;
}

.linked > a{
    color:blueviolet;
    font-weight: bold;
    

}