video {
    width:100%;
    height:100%;
    background-size: cover;
   
}

.MainLook {
    position: absolute;
   padding-top: 750px;
    width: 100%;
    height: 100%;
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aquamarine;
    font-weight:bold;
    font-size: x-large;
}

.MainLook .btn{
    color:aquamarine;
    font-weight: bold;
    font-size: x-large;
    }
  #exiting
    {
        padding-left: 15px;
        color:aquamarine;
        font-weight: bold;
    }    