
.backVid {
    width:100%;
    height:100%;
    background-size: cover;
   
}



.Signup{
    margin: auto;
}
#Signup-Div-Master{
    margin: auto;

}
#Signup-Div-Main{
    margin: auto;

}
#Signup-Form{
    margin: auto;

}