
.Main{
    color: #000;
    background-color: #aaa;
    width: 90%;
    height: 80%;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    padding: 0.5%;
    border: 3px solid #555;
    border-radius: 10px;
    box-sizing: border-box;
}

.Title{
    color: #000;
    margin: 1%;
}

.Sub-Title{
    color: #000;
    font-size: larger;
    margin: 1%;
}

.Card-Div{
    display: flex;
    flex-direction: row;
    color: #000;
    margin: auto;
    padding: 0.5%;
    border: 3px solid #555;
    width: 1340px;
    height: fit-content;
}

#Card-Image-Single{
    display: block;
    width: auto;
    height: auto;
    box-shadow: 10px 5px 5px grey;
    transition: opacity 0% 3s ease-in;
    
}
#Card-Image-Single:hover{
    animation: card-ani 12s 1;
    transition: opacity 0% 3s ease-in;

}

#Card-Image{
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-left: 6%;
    margin-right: 6%;
    width: 282px;
    height: fit-content;
    animation: fadein 4s 1;
}

.Card-Info{
    display: block;
    color: #000;   
    height: 400px;
    width: 282px;
    margin-right: -100%;
    text-justify: inter-ideograph;
    
}
/*
.Card-Info:hover{
    visibility: visible;
    opacity: 60%;
    color: #000;
    float: none;
    margin-left: -88%;
    border: 3px solid #555;
    box-sizing: border-box;
    height: 400px;
    width: inherit;
}*/

#ImgC1{
    float: left;

}
#ImgC2{
    float: left;

}
#ImgC3{
    float: left;
}
#ImgC3:active{
    animation: card-deal-3 1s 1; 

}
#ImgC3:hover{
    color: beige;
}

#C1{
    float: left;
    
}
#C2{
    float: left;
}
#C3{
    float: right;
}

.Img-Cards{
    float: left;
    display: flexbox;
    height: 400px;
    width: 282px;
    background-color: #000;
}
.Img-Cards:hover{
    backdrop-filter: black;
    
}
.Img-Cards:active{
    backdrop-filter: black;
}


.Description{
    margin-top: 100%;
    color: #000;
    margin: auto;
    padding: 0.5%;
    border: 3px solid #555;

}

.Navigation{
    margin: auto;
    margin-bottom: 2.5%;
    padding: 0.5%;
    border: 3px solid #555;
    width: 1340px;
}

/*KEYFRAMES*/
@keyframes card-ani{
    0%{
        width: auto;
    }
    19%{
        transform: rotateY(180deg);
    }
    20%{
        content: url(/src/Resources/Images/Cards/cd-back-ghost.jpg);
       
    }
    21%{
        transform: rotateY(270deg);
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}


@keyframes card-drop{
    0%{
        transform: rotateY(360deg) scale(1);
    }
    100%{
        transform: initial;
    }

}
@keyframes card-deal-1{
    0%{        
        transform: translate(-1000%, 0%);
    }
    100%{
        transform: initial;
    }

}
@keyframes fadein{
    0%{        
        opacity: 0%;
    }
    100%{
        transform: initial;
    }

}
@keyframes card-deal-3{
    0%{        
        transform: translate(-260%, -150%);
    }
    100%{
        transform: initial;
    }

}



